/* Pyngo Board Styling */


#pyngo-container {
    width: 450px;
    height: 450px;
    justify-content: center;
    margin: auto;
}

h1 {
    font-size: 45pt;
    width: auto;
    height: auto;
    text-align: center;
    letter-spacing: 30px;
    background-color: white;
    border: 5px solid black;
    border-bottom: none;
    margin: 0;
}

table {
    width: 100%;
    height: 100%;
    table-layout: fixed;
    font-size: 25pt;
    font-family: Arial;
    border-collapse: collapse;
    border: 5px solid rgb(255, 0, 0);
}

td {
    text-align: center;
    word-wrap: break-word;
    padding: 15 15 15 15;
    border: 5px solid black;
    white-space: break-spaces;
}