[Desktop Entry]
Type=Application
Name=Byngo Cards
Exec=byngo
Icon=utilities-terminal
Categories=Utility;
Comment=Generate bingo cards and export to PDF.
